nav {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		gap: 10px;
	}
	a {
		text-decoration: none;
		color: wheat;
		padding: 16px;
		display: block;
		box-sizing: border-box;
	}
}